body {
  background-color: #ffffff;
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.title-style {
  color: #2e2f42;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/*----------Header---------*/

.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;

}

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  color: #2e2f42;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   
}



.header-navigation {
 
  display: flex;
  align-items: center;
  margin-right: auto; 
  position: relative;   
}

.header-container {
  display: flex;
}


.header-logo {
  color: #404bbf;
  font-family: "Raleway", sans-serif;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}


 .span {
  color: #2e2f42;
}



.header-list {
  color: #404bbf;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
 
}

.header-list-item {
  color: #404bbf;
}



.header-list-link { 
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
  }

  .current{    
  color: #404bbf;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
  }

  
  .current::after{
  content:"";
  position: absolute;
  left: 0; 
  bottom: -1px;
  width: 100%;
  height: 4px;  
  background-color: #404bbf;
  border-radius: 2px;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  }

  
.address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list-item {
  padding: 24px 0;
  
}

.address-list-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.address-list-link:hover,
.address-list-link:focus {
  color: #404bbf;
}
 

/*-------main------*/

.main-page {
  background-color: #2e2f42;
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
    margin: auto;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.main-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  max-width: 496px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/**--------section 1-------*/
.advant {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advant-title {
}

.advant-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.advant-list-item {
  width: calc((100% - 72px) / 4);
}

.advant-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advant-list-article {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advant-box{  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd; 
  border-radius: 4px;
  margin-bottom: 8px;
  
 
}

.advant-icon{
 fill: #2e2f42;
  

}

/*-------section 2------*/
.team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;

 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
  

}

.position {
  padding: 32px 0;
}

.team-list-image {
}

.team-list-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-article {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

  
.team-soc-list {
  display: flex; 
  justify-content: center;
  gap: 24px;

}

.team-soc-item {
  width: 40px;
  height: 40px;
}
  

.team-soc-link{ 
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.team-soc-link:hover, .team-soc-link:focus{
  background-color: #404bbf;  
}


.team-soc-icon {
  fill: #f4f4fd

}


/**-------section 3------*/

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;

 
}



 
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
}

.portfolio-list-item{
 

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


  

.portfolio-article-alt {
  background-color: #4d5ae5;
  color: #f4f4fd;  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 100%;
  height: 100%;
  top: 0;
  padding: 40px 32px;  

  position: absolute;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform:  translateY(100%);
 
}
 
.portfolio-shadow-item{ 
  position: relative;
  overflow: hidden; 
 
}

.portfolio-list-item:hover { 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.portfolio-list-item:hover .portfolio-article-alt{
  transform: translateY(0);


}

.portfolio-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-article {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;


}




/**-------footer------*/

.footer {
  background: #2e2f42;
  padding: 100px 0 100px;  
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}

.span-footer {
  color: #f4f4fd;
}
.footer-logo-article{
  margin-right: 120px
}

.footer-article { 
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;

 

}


.footer-soc-subtitle {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

}

.footer-soc-container {
  
 
}
.footer-soc-list {
  display: flex;
  gap: 16px;


}
.footer-soc-item {
  width: 40px; 
  height: 40px;  
}


.footer-soc-link {  
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-soc-icon {
  fill: #f4f4fd;
}


.footer-soc-link:hover,
.footer-soc-link:focus{
  background-color: #31d0aa;
}

  .footer-strukture{
    display: flex;
    align-items: baseline; 
    justify-content: space-between;   
}

.footer-container-modal {
}

.footer-title {
  color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em; 
margin-bottom: 16px;
}

 .footer-form {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.footer-label {
}
.footer-input-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px; 
  color: #ffffff;

}
.footer-input-email::placeholder{
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px; 

  display: flex;
  justify-content: center; 
  align-items: center;

  color: #FFF;
text-align: center;

font-family: "Roboto", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;

border: none;
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404BBF;
}

.footer-btn-svg {
  margin-left: 16px;
  fill: #FFFFFF;
}





/* -----backdrop----- */

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  top: 0;
  top: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
width: 408px;
min-height: 584px;
background-color: #FCFCFC;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;

 

transform: translate(-50%, -50%);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

padding: 72px 24px 24px 24px;
}

.modal-btn-icon{
  fill: #2e2f42;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  
}

.modal-btn:hover .modal-btn-icon ,
.modal-btn:focus .modal-btn-icon{
  fill: #ffffff;
}


.modal-btn{
  background-color: #E7E9FC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}


.modal-btn:focus,
.modal-btn:hover{
  background-color: #404bbf;
  border: none;
}

.modal-title{
  color:#2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;

margin-bottom: 16px;


}

.modal-label{
color: #8E8F99;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;

display: block; 
margin-bottom: 4px; 
}

.modal-field{
  margin-bottom: 8px;
  
}

.modal-input-wrap{
  position: relative;
}

.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 4px;
  background-color: transparent; 
  padding-left: 38px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-input:focus,
 .modal-input:hover{
  border-color: #4D5AE5;

  
}

.modal-icon{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-input:focus + .modal-icon{
  fill: #4D5AE5;
}
.modal-input:hover + .modal-icon{
  fill: #4D5AE5;
}


.modal-comment{
  width: 100%;
  height: 120px;
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment{
  margin-bottom: 16px;
}

.modal-comment:focus{
  border-color: #4D5AE5;
  }

  .accept{
    margin-bottom: 24px;
  }

.modal-field .accept{
  width: 16px; 
  height: 16px;
}

.accept-item{
  color: #8E8F99;  
  font-size: 12px;  
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy{
color:#4D5AE5;
text-decoration-line: underline;
}

 .modal-span{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent; 
 }

  .privacy-link:checked + .accept-item span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
  }











.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}